.gallery-container {
    background-color: rgba(246, 246, 246, 1);
    border-radius: 25px;
    display:flex;
    flex-wrap:wrap;
    row-gap: 50px;
    justify-content: center;
    column-gap: 60px;
    padding: 50px 0px;
    margin: 50px 100px;
    position: relative;
    
}

 


/*

.gallery-container img{

    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    
    border-radius:25px;
    object-fit: cover;
  
}

.gallery-item  {
   display:flex;
}
.gallery-item {
    width:30%;
    height:340px;
    border-radius: 25px;
    margin:20px;
}
.gallery-item p{
    position: absolute;
    color :rgba(255, 255, 255, 1);
    font-family: 'Montserrat', sans-serif;
    font-size:18px ;
    font-weight: 700;
    margin-top:300px ;
    margin-left:50px;
}*/



.gallery-item {
    display: flex;
    position: relative;
    width: 28%;
    height: 340px;
    flex-direction: column;
    cursor: pointer;
    

}

.gallery-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.gallery-item::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background:rgb(22, 14, 13);;
    opacity: 0;
    transition: 0.8s;
    pointer-events: none;
}

.gallery-item:hover::after {
    opacity: 0.5;
    border-radius: 10px;
}

.gallery-item img {
    height: 340px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.gallery-item p {
    position: absolute;
    bottom: 10px;
    left: 0;
    margin: 12px;
    color: white;
    width: 55%;
    z-index: 1;
}

@media (max-width:767.98px) {
    .gallery-container {
        margin: 15px ;
        background-color: #fff;
        padding: 0;
        row-gap: 20px;
    }

    .gallery-item {
        width: 100%;
        height: 255px;
    }

    .gallery-item img {
        height: 255px;
    }

    .gallery-item p {
        width: 80%;
        font-size: 16px;
    }
}
