.tags-container {
    margin-top: 20px;
}

.tags-container button {
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(255, 96, 96, 1);
    border: none;
    color: white;
    margin: 10px;
    font-size: 14px;
}

@media (max-width: 767.98px) {
    .tags-container button {    
        margin-top: 0px;      
    }  

    .tags-container {
         margin-top: 0px;
    }
}