.host_rating{
    padding-top: 20px;
}

.host_div{
    width: 190px;
    display: flex;
    margin: 10px 10px 10px 15px;
    position: relative;
}

.host_div img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    justify-content: space-between;
}

.host_div p{
    width: 93px;
    padding-right: 0px;
    color: rgba(255, 96, 96, 1);
}

@media (max-width: 767.98px) {
    .host_rating{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .host_div{
        height: 33px;
        width: 133px;
    }

    .host_div img{
        width: 45px;
        height: 45px;   
    }
    
    .host_div p{
        text-align: right;
        padding-right: 10px;

    }
}